<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01一般(出題時)/p0502g010025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1172},{218,316}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{218,316}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>01一般(出題時)/p0502g010026.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1392},{218,316}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{218,316}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>01一般(出題時)/p0502g010027.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1392},{218,316}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{218,316}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>01一般(出題時)/p0502g010028.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1172},{218,316}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{218,316}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>01一般(出題時)/p0502g010029.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,854},{218,316}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{218,316}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>01一般(出題時)/p0502g010030.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,854},{218,316}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{218,316}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>01一般(出題時)/p0502g010031.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,634},{218,316}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{218,316}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>01一般(出題時)/p0502g010032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,444},{218,316}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{218,316}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>01一般(出題時)/p0502g010033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,2},{218,316}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{218,316}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>01一般(出題時)/p0502g010034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,2},{218,316}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{218,316}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>01一般(出題時)/p0502g010035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,2},{218,316}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{218,316}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>01一般(出題時)/p0502g010036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,2},{218,316}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{218,316}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>01鹽/p0502g0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,664},{112,76}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{112,76}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>01鹽/p0502g0401C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,1960},{32,32}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,114},{32,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>01鹽/p0502g0401E.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1340},{48,26}}</string>
                <key>offset</key>
                <string>{1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,118},{48,26}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>01鹽/p0502g0401T.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1960},{32,32}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,114},{32,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>02糖/p0502g0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1802},{100,90}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{100,90}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>02糖/p0502g0402C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,1954},{32,32}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,114},{32,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>02糖/p0502g0402E.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,974},{66,22}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,125},{66,22}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>02糖/p0502g0402T.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,1928},{32,30}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,116},{32,30}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>03答錯/p0502g010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,974},{218,308}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{218,308}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>03答錯/p0502g010014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,664},{218,308}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{218,308}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>03答錯/p0502g010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,664},{218,308}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{218,308}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>03答錯/p0502g010016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,320},{218,308}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{218,308}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>03答錯/p0502g010017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1592},{218,306}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{218,306}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>03答錯/p0502g010018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1282},{218,306}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{218,306}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>03答錯/p0502g010019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,1284},{218,306}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{218,306}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>03答錯/p0502g010020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,974},{218,306}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{218,306}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>03答錯/p0502g010021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1704},{218,308}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{218,308}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>03答錯/p0502g010022.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1710},{218,308}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{218,308}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>03答錯/p0502g010023.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1710},{218,308}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{218,308}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>03答錯/p0502g010024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1392},{218,310}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{218,310}}</string>
                <key>sourceSize</key>
                <string>{256,336}</string>
            </dict>
            <key>03蘇打粉/p0502g0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,784},{128,100}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{128,100}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>03蘇打粉/p0502g0403C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,974},{98,32}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,114},{98,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>03蘇打粉/p0502g0403E.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,682},{146,28}}</string>
                <key>offset</key>
                <string>{1,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,118},{146,28}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>03蘇打粉/p0502g0403T.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,630},{98,32}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,115},{98,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>04奶粉/p0502g0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,1696},{104,108}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{104,108}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>04奶粉/p0502g0404C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,920},{64,32}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,114},{64,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>04奶粉/p0502g0404E.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1966},{142,28}}</string>
                <key>offset</key>
                <string>{2,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,118},{142,28}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>04奶粉/p0502g0404T.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,920},{64,32}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,114},{64,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>05棉花/p0502g0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,974},{136,114}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{136,114}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>05棉花/p0502g0405C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,886},{64,32}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,115},{64,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>05棉花/p0502g0405E.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1696},{78,22}}</string>
                <key>offset</key>
                <string>{1,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,122},{78,22}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>05棉花/p0502g0405T.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,886},{64,32}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,114},{64,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>06布/p0502g0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,2},{138,112}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{138,112}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>06布/p0502g0406C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1140},{32,30}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,116},{32,30}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>06布/p0502g0406E.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1860},{84,26}}</string>
                <key>offset</key>
                <string>{2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,118},{84,26}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>06布/p0502g0406T.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1954},{32,32}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,115},{32,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>07米/p0502g0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1732},{126,94}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{126,94}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>07米/p0502g0407C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,1894},{32,32}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,114},{32,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>07米/p0502g0407E.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1802},{56,26}}</string>
                <key>offset</key>
                <string>{1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,118},{56,26}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>07米/p0502g0407T.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1860},{32,32}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,114},{32,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>08書/p0502g0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,642},{140,110}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{140,110}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>08書/p0502g0408C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,634},{28,30}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,116},{28,30}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>08書/p0502g0408E.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,808},{72,26}}</string>
                <key>offset</key>
                <string>{2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,118},{72,26}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>08書/p0502g0408T.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,630},{32,32}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,114},{32,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>09木頭/p0502g0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,142},{132,112}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{132,112}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>09木頭/p0502g0409C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1894},{64,32}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,114},{64,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>09木頭/p0502g0409E.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,904},{68,26}}</string>
                <key>offset</key>
                <string>{1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,118},{68,26}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>09木頭/p0502g0409T.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1928},{64,30}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,116},{64,30}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>10蘋果/p0502g0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,532},{108,112}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>10蘋果/p0502g0410C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1894},{64,32}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,115},{64,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>10蘋果/p0502g0410E.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,778},{72,28}}</string>
                <key>offset</key>
                <string>{1,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,119},{72,28}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>10蘋果/p0502g0410T.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,1888},{64,32}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,115},{64,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>11泡麵/p0502g0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,1590},{126,104}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{126,104}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>11泡麵/p0502g0411C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1888},{64,32}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,114},{64,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>11泡麵/p0502g0411E.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1996},{144,22}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,119},{144,22}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>11泡麵/p0502g0411T.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,904},{64,32}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,114},{64,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>12海綿/p0502g0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1592},{138,100}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{138,100}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>12海綿/p0502g0412C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,870},{64,32}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,114},{64,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>12海綿/p0502g0412E.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1966},{88,28}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,119},{88,28}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>12海綿/p0502g0412T.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1074},{64,32}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,114},{64,32}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>p0202g03.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,444},{370,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,188}}</string>
                <key>sourceSize</key>
                <string>{370,188}</string>
            </dict>
            <key>p0202g03C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1900},{240,64}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,72},{240,64}}</string>
                <key>sourceSize</key>
                <string>{370,188}</string>
            </dict>
            <key>p0202g03E.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,276},{254,98}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,48},{254,98}}</string>
                <key>sourceSize</key>
                <string>{370,188}</string>
            </dict>
            <key>p0202g03T.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,630},{238,64}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,72},{238,64}}</string>
                <key>sourceSize</key>
                <string>{370,188}</string>
            </dict>
            <key>p0502g04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1090},{160,64}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,93},{160,64}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>p0502g070001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1672},{700,330}}</string>
                <key>offset</key>
                <string>{-14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,348},{700,330}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p0502g070002.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{698,440}}</string>
                <key>offset</key>
                <string>{-5,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,238},{698,440}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p0502g070003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{738,656}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,22},{738,656}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p0502g070004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{782,678}}</string>
                <key>offset</key>
                <string>{-17,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{782,678}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p0502g070005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{738,656}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,22},{738,656}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p0502g070006.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{698,440}}</string>
                <key>offset</key>
                <string>{-5,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,238},{698,440}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p0502g070007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{700,330}}</string>
                <key>offset</key>
                <string>{-14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,348},{700,330}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p0502g070008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2004},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S5Game.pvr.ccz</string>
            <key>size</key>
            <string>{1820,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3b87764ee83ffe4995dcdc9be2e155f$</string>
            <key>textureFileName</key>
            <string>S5Game.pvr.ccz</string>
        </dict>
    </dict>
</plist>
