<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02一般/p0502g020001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1080},{562,464}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,41},{562,464}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>02一般/p0502g020002.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{608,466}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,39},{608,466}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>02一般/p0502g020003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{608,468}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,37},{608,468}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>02一般/p0502g020004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1546},{520,470}}</string>
                <key>offset</key>
                <string>{39,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,35},{520,470}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>02一般/p0502g020005.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1546},{520,468}}</string>
                <key>offset</key>
                <string>{39,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,37},{520,468}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>02一般/p0502g020006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{608,466}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,39},{608,466}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>02一般/p0502g020007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,470},{608,464}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,41},{608,464}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>02一般/p0502g020008.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1080},{562,464}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,41},{562,464}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>02一般/p0502g020009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{562,464}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,41},{562,464}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>02一般/p0502g020010.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,470},{608,464}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,41},{608,464}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>02一般/p0502g020011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,470},{608,464}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,41},{608,464}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>02一般/p0502g020012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{520,464}}</string>
                <key>offset</key>
                <string>{39,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,41},{520,464}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S5Story4.pvr.ccz</string>
            <key>size</key>
            <string>{1604,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d253af883b13b74cba62aff2dc272e10$</string>
            <key>textureFileName</key>
            <string>S5Story4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
