<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p0501p030001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,838},{812,260}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,106},{812,260}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,2},{834,268}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,103},{834,268}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030003.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,894},{856,278}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,98},{856,278}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{878,286}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,96},{878,286}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030005.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,600},{898,292}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,92},{898,292}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030006.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,302},{922,296}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,88},{922,296}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030007.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{944,298}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,86},{944,298}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{966,302}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,82},{966,302}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{986,306}}</string>
                <key>offset</key>
                <string>{-1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,78},{986,306}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1010,308}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,76},{1010,308}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S5Story1.pvr.ccz</string>
            <key>size</key>
            <string>{1532,1914}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eee586e1d010f1ef734ae98c7098b60b$</string>
            <key>textureFileName</key>
            <string>S5Story1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
