<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p0501p030011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{1024,312}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{1024,312}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{1024,316}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{1024,316}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{1024,318}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{1024,318}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,322}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{1024,322}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{878,286}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,96},{878,286}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1212},{898,292}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,92},{898,292}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,914},{922,296}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,88},{922,296}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,614},{944,298}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,86},{944,298}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,310},{966,302}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,82},{966,302}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{986,306}}</string>
                <key>offset</key>
                <string>{-1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,78},{986,306}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S5Story2.pvr.ccz</string>
            <key>size</key>
            <string>{2016,1566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b12cfd505e7190fdb21b0648efcb3fb3$</string>
            <key>textureFileName</key>
            <string>S5Story2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
