<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01/Button020402.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,772},{124,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,60}</string>
            </dict>
            <key>01/Button020403.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,898},{110,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{110,42}}</string>
                <key>sourceSize</key>
                <string>{126,60}</string>
            </dict>
            <key>01/Button020404.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,898},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{92,24}}</string>
                <key>sourceSize</key>
                <string>{126,60}</string>
            </dict>
            <key>01/Button020405.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1010},{92,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{92,22}}</string>
                <key>sourceSize</key>
                <string>{126,60}</string>
            </dict>
            <key>01/Button020406.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1104},{92,18}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,23},{92,18}}</string>
                <key>sourceSize</key>
                <string>{126,60}</string>
            </dict>
            <key>01/p_bt0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{1024,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,278}}</string>
                <key>sourceSize</key>
                <string>{1024,278}</string>
            </dict>
            <key>01/p_bt03010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1258},{312,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{312,232}}</string>
                <key>sourceSize</key>
                <string>{318,238}</string>
            </dict>
            <key>01/p_bt03010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,944},{312,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{312,232}}</string>
                <key>sourceSize</key>
                <string>{318,238}</string>
            </dict>
            <key>01/p_bt03010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1726},{312,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{312,232}}</string>
                <key>sourceSize</key>
                <string>{318,238}</string>
            </dict>
            <key>01/p_bt03010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,630},{312,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{312,232}}</string>
                <key>sourceSize</key>
                <string>{318,238}</string>
            </dict>
            <key>01/p_bt03010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1726},{312,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{312,232}}</string>
                <key>sourceSize</key>
                <string>{318,238}</string>
            </dict>
            <key>01/p_bt03010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,316},{312,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{312,232}}</string>
                <key>sourceSize</key>
                <string>{318,238}</string>
            </dict>
            <key>01/p_bt03010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{312,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{312,232}}</string>
                <key>sourceSize</key>
                <string>{318,238}</string>
            </dict>
            <key>01/p_bt03010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,2},{312,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{312,232}}</string>
                <key>sourceSize</key>
                <string>{318,238}</string>
            </dict>
            <key>01底/p_bt0601.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>02文字/p_bt0602C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{942,676}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,7},{942,676}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>02文字/p_bt0602E.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{954,672}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{954,672}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>02文字/p_bt0602T.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,946},{944,676}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,7},{944,676}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p_bt01.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1822},{100,70}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,70}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
            <key>p_bt02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1572},{114,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{114,106}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>p_bt03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,1572},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{98,104}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>p_bt0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1784},{106,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{106,96}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>p_bt0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1680},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{102,102}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>p_bt05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1680},{98,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{98,96}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>p_bt06.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1726},{82,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{82,94}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>p_read02.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1104},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{48,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FunctionMenu.pvr.ccz</string>
            <key>size</key>
            <string>{1940,1960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c0db0e7817c2103b9e6bee0ec5b47d5$</string>
            <key>textureFileName</key>
            <string>FunctionMenu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
