<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p0502g020013.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,612},{562,384}}</string>
                <key>offset</key>
                <string>{18,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,121},{562,384}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>p0502g020014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{608,384}}</string>
                <key>offset</key>
                <string>{-5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,121},{608,384}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>p0502g020015.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{608,384}}</string>
                <key>offset</key>
                <string>{-5,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,121},{608,384}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>p0502g020016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{520,430}}</string>
                <key>offset</key>
                <string>{39,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,75},{520,430}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>p0502g020017.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1176},{520,430}}</string>
                <key>offset</key>
                <string>{39,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,75},{520,430}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>p0502g020018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{608,384}}</string>
                <key>offset</key>
                <string>{-5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,121},{608,384}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>p0502g020019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{608,384}}</string>
                <key>offset</key>
                <string>{-5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,121},{608,384}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>p0502g020020.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,612},{562,384}}</string>
                <key>offset</key>
                <string>{18,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,121},{562,384}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>p0502g020021.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,612},{562,384}}</string>
                <key>offset</key>
                <string>{18,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,121},{562,384}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>p0502g020022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{608,384}}</string>
                <key>offset</key>
                <string>{-5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,121},{608,384}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>p0502g020023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{608,384}}</string>
                <key>offset</key>
                <string>{-5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,121},{608,384}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
            <key>p0502g020024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{520,430}}</string>
                <key>offset</key>
                <string>{39,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,75},{520,430}}</string>
                <key>sourceSize</key>
                <string>{636,518}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S5Game2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9ab5c8ef4563b2b1a5b0aeae89f48e3$</string>
            <key>textureFileName</key>
            <string>S5Game2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
