<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p0501p030021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{1010,308}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,76},{1010,308}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{1024,312}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{1024,312}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{1024,316}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{1024,316}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{1024,318}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{1024,318}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,322}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{1024,322}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>p0501p030026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1588},{790,252}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,108},{790,252}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S5Story3.pvr.ccz</string>
            <key>size</key>
            <string>{1028,1842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4feb8fe0f0106ddacde51a2c0f8a641f$</string>
            <key>textureFileName</key>
            <string>S5Story3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
